In [2]:
import pandas as pd

In [3]:
base_path = r'C:\Users\ebkus\OneDrive\Documents\Math 261A - Gao'

parking_meters = pd.read_csv(base_path + r'\Parking_Meters.csv')
citations = pd.read_csv(base_path + r'\SFMTA_Meter_Citations_2024.csv')

In [4]:
parking_meters.head()

,OBJECTID,PARKING_SPACE_ID,POST_ID,MS_PAY_STATION_ID,MS_SPACE_NUM,SENSOR_FLAG,ON_OFFSTREET_TYPE,OSP_ID,JURISDICTION,PM_DISTRICT_ID,...,PMR_ROUTE,NFC_KEY,SPT_CODE,COLLECTION_ROUTE_DESC,COLLECTION_SUBROUTE_DESC,shape,data_as_of,data_loaded_at,analysis_neighborhood,supervisor_district
0,6431666,NaN,327-04180,-,0,NaN,ON,NaN,SFMTA,12.0,...,G-4,NaN,NaN,Broadway St: Unit - 800,Broadway,POINT (-122.404518798 37.798218298),2025 Nov 15 12:01:53 AM,2025 Nov 15 10:27:33 AM,North Beach,3
1,6434935,NaN,324-05280,-,0,NaN,ON,NaN,SFMTA,1.0,...,G-2,NaN,NaN,NaN,NaN,POINT (-122.400566099 37.796629402),2025 Nov 15 12:01:53 AM,2025 Nov 15 10:27:33 AM,Financial District/South Beach,3
2,6435229,NaN,569-18170,-,0,NaN,ON,NaN,SFMTA,16.0,...,R-1,NaN,NaN,NaN,NaN,POINT (-122.424237499 37.7710469),2025 Nov 15 12:01:53 AM,2025 Nov 15 10:27:33 AM,Mission,8
3,6437196,NaN,720-09150,-,0,NaN,ON,NaN,SFMTA,12.0,...,G-3,NaN,NaN,NaN,NaN,POINT (-122.4086754 37.794826901),2025 Nov 15 12:01:53 AM,2025 Nov 15 10:27:33 AM,Chinatown,3
4,6437294,NaN,700-01350,-,0,NaN,ON,NaN,SFMTA,16.0,...,R-2,NaN,NaN,NaN,NaN,POINT (-122.422335399 37.770692301),2025 Nov 15 12:01:53 AM,2025 Nov 15 10:27:33 AM,Mission,6